#Loggin
logging:
  config: classpath:logback-spring-test.xml


#Rabbitmq
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: test
    password: test

# Telegram notification channel
telegram:
  notification:
    channel:
      id: 1234

#JWT config
jwt:
  token:
    secret: SecretKeyToGenerateAJSONWebTokens
    expiration: 600000
    prefix: Bearer
    issuer:
      info: infosas-api

# Admin credentials
admin:
  id: 1
  password: test