# Maria DB config
spring:
  datasource:
    primary:
      url: jdbc:mariadb://infosas-db-primary:3306/${DB_NAME}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      driver-class-name: org.mariadb.jdbc.Driver

    secundary:
      url: jdbc:mariadb://infosas-db-secondary:3306/${DB_NAME}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: UNSPECIFIED
  #Rabbitmq
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}

# Telegram notification channel
telegram:
  notification:
    channel:
      id: ${TELEGRAM_NOTIFICATION_CHANNEL}

#Loggin
logging:
  config: classpath:logback-spring-prod.xml

#JWT config
jwt:
  token:
    secret: ${JWT_TOKEN_SECRET}
    expiration: ${JWT_TOKEN_EXPIRATION}
    prefix: Bearer
    issuer:
      info: infosas-api

# Admin credentials
admin:
  id: ${ADMIN_ID}
  password: ${ADMIN_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true