spring:
  # H2 Database
  datasource:
    url: jdbc:h2:mem:testdb
    username: test
    password: test
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: UNSPECIFIED

  #Rabbitmq
  rabbitmq:
    host: localhost
    port: 5672
    username: RabbitmqSas
    password: 3jZy38pY6s13eXDqDHFF

# Telegram notification channel
telegram:
  notification:
    channel:
      id: 1234

#Loggin
logging:
  config: classpath:logback-spring-local.xml

# JWT config
jwt:
  token:
    secret: SecretKeyToGenerateAJSONWebTokens
    expiration: 600000
    prefix: Bearer
    issuer:
      info: infosas-api

# Admin credentials
admin:
  id: 1
  password: test

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true